html {
  font-size: 16px;
}

/*body {*/
/*  margin: 0;*/
/*  background-color: #CFCFCF;*/
/*}*/

body {
  margin: 0;
  opacity: 0;
  transition: opacity .5s;
  background-color: #CFCFCF;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.header {
  height: 5rem;
  width: auto;
  background-color: #1A1A1A;
}

.header-container {
  height: 5rem;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_logo {
  color: #FFFFFF;
  font-size: 2.5rem;

  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 2.5rem;
}

.nav_link {
  vertical-align: middle;

  padding-left: 1rem;
  height: auto;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 2rem;

  color: #C5C5C5;
  text-decoration: none;

  transition: .2ms;
}

.nav_link:hover {
  cursor: pointer;
  color: #FFF;
}

#you_here {
  text-decoration: underline;
  pointer-events: none;
  cursor: default;
}

.profile {
  vertical-align: middle;
  margin-left: 1.5rem;
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  border: 0;
  overflow: hidden;
  background: mistyrose;
}

.body_container {
  height: auto;
  padding-top: 4rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

.vacancy_container {
  padding-inline-start: 0;
  width: 75%;
  list-style-type: none;

  margin: 0;
}

.vacancy_wrapper {
  display: flex;

  margin-bottom: 1rem;
  background-color: #EBEBEB;
  padding: 1.5rem;

  height: 20rem;
}

.filter_container {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: .9rem;

  height: 50rem;

  padding-top: 1.5rem;
  text-align: center;
  width: 20%;
  background-color: #EBEBEB;
}

.vacancy_title {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.6rem;

  padding-bottom: .5rem;
}

.vacancy_money {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.3rem;
  line-height: 1.6rem;
}

.vacancy_text {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.7rem;
  width: 95%;

  overflow: scroll;

  height: 7rem;

  margin-top: .6rem;
  margin-bottom: .6rem;

  color: #73726A;
}

.vacancy_tags {
  margin: 0;

  background: #DADADA;
  border-radius: 1rem;

  padding: .2rem .4rem;

  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: .9rem;
  line-height: 1.2rem;

  max-height: 1.5rem;
  max-width: 4rem;

  color: #73726A;

  align-items: center;
  text-align: center;

  display: inline-block;
  vertical-align: top;
}

.vacancy_profile_wrapper {
  margin: 0;
  padding-top: .5rem;
  max-width: 95%;
  max-height: 5rem;
}

.vacancy_profile {
  margin-right: .6rem;
  vertical-align: middle;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  border: 0;
  overflow: hidden;
  background: mistyrose;
}

.vac_wrap_left {
  width: 70%;
  border-color: #1A1A1A;
  border-width: 0 .01rem 0 0;
  border-style: solid;
}

.vac_wrap_right {
  padding-left: .6rem;
  width: 30%;
}

.conditions_title {
  margin: 0;

  padding-left: .4rem;

  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1rem;
  line-height: 1.4rem;
}

.conditions {
  padding-top: 1.3rem;
  padding-inline-start: 1.6rem;
}

.cond_style {
  margin-bottom: .6rem;

  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: .9rem;
  line-height: 1.2rem;
}