body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  margin-left: 8vw;
  margin-right: 8vw;
}

body.modal-open .blur-container{
  -webkit-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}

@media (max-width: 1000px) {
  .wrapper {
    margin-left: 4vw;
    margin-right: 4vw;
  }
}
