.header {
  background: #1A1A1A;
  margin-bottom: 3rem;
  padding-left: 8vw;
  padding-right: 8vw;
  max-width: 1800px;
  margin-right: auto;
  margin-left: auto;
}

.header-logo {
  color: #FFFFFF;
  font-size: 2.5rem;
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  line-height: 2.5rem;
}

.nav-link {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 2rem;
  margin-right: .5rem;

  transition: .2s;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255,255,255,.5);
}

.circle {
  box-shadow: 0 0 0 1px #FFFFFF, 0 0 0 2px #1A1A1A, 0 0 0 4px #FBE200;
}

@media (min-width: 1700px) {
  .header {
    padding-left: 4vw;
    padding-right: 4vw;
  }
}

@media (max-width: 1000px) {
  .header {
    background: #1A1A1A;
    margin-bottom: 2rem;
    padding-left: 4vw;
    padding-right: 4vw;
  }
}

@media (max-width: 768px) {
  .circle {
    display: none;
  }
}
