* {
  box-sizing: border-box
}

.filter-wrapper {
  background-color: #EBEBEB;
  padding: 1.5rem;
  height: 49rem;

  position: sticky;
  top: 7rem;
}

.vacancy-wrapper {
  margin-bottom: 1rem;
  background-color: #EBEBEB;
  padding: 1.5rem;
  height: 18rem;
}

.summary-wrapper {
  background-color: #EBEBEB;
  padding: 1.5rem;
  height: 14rem;
  margin-bottom: 1rem;
}

.vertical-line {
  margin-right: 1rem;
  border-right: .15rem solid;
  border-left: 0;
  border-bottom: 0;
  border-image: linear-gradient(180deg, #EBEBEB 0%, #CFCFCF 26.56%, #CFCFCF 48.96%, #CFCFCF 72.4%, #EBEBEB 100%) 1;
}

.title {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.6rem;
  padding-bottom: .5rem;
}

.salary {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  font-size: 1.3rem;
  line-height: 1.6rem;
}

/*дублирование*/
.description-vacancy {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.7rem;
  width: 95%;
  height: 6rem;
  margin-top: .1rem;
  margin-bottom: .9rem;
  color: #73726A;
}

/*дублирование*/
.description-summary {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.7rem;
  width: 95%;
  height: 5rem;
  overflow: hidden;
  margin-top: .6rem;
  margin-bottom: .4rem;
  color: #73726A;
}

.tags-list {
  padding-inline-start: 0;
  margin-bottom: .7rem;
}

.tags {
  background-color: #DADADA;
  color: #73726A
}

/*дублирование*/
.vacancy-img-border {
  border: .1rem solid #FFFFFF;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  overflow: hidden;
}

/*дублирование*/
.summary-img-border {
  border: .1rem solid #FFFFFF;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  overflow: hidden;
}

.company {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.2rem;

  white-space: nowrap;
  overflow: hidden;
}

.summary-img {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2rem;

  height: 4rem;
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.conditions-title {
  padding-left: .8rem;
  font-family: 'Work Sans', sans-serif;
  font-size: 1.1rem;
  line-height: 1.4rem;
}

/*дублирование*/
.conditions {
  padding-left: 1rem;
  margin-bottom: .6rem;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-size: .9rem;
  line-height: 1.2rem;
}

/*дублирование*/
.about {
  padding-left: 1rem;
  margin-bottom: .6rem;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-size: .9rem;
  line-height: 1.2rem;
}

/*дублирование*/
.about-p {
  margin-bottom: .6rem;
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: .9rem;
  line-height: 1.2rem;
}

ul {
  list-style: none;
  padding-inline-start: 0;
}

.conditions::before {
  content: '';
  display: inline-block;
  height: .5rem;
  width: .5rem;
  border-radius: 50%;
  margin-right: 0.5rem;
  background: #FBE200;
  box-shadow: inset 0 0 0 .12rem black;
}

.name {
  margin: 0;
  padding-top: .1rem;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 1.4rem;
  color: #73726A;
}

.vacancies-wrapper {
  width: 70%;
}

.vacancies-filter-wrapper {
  width: 25%;
}

.vacancies-container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
}

@media (max-width: 768px) {
  html {
    font-size: 12px;
  }
  .vacancies-filter-wrapper {
    display: none;
  }
  .vacancy-wrapper {
    width: 100%;
    margin-bottom: 1rem;
    background-color: #EBEBEB;
    padding: 1rem;
    height: 18rem;
  }
  .vacancies-container {
    margin: 0 auto;
    width: 100%;
    align-items: center;
  }
  .vacancies-wrapper {
    width: 100%;
  }
  .vertical-line {
    margin-right: 0;
  }
  .description-vacancy {
    line-height: 1.7rem;
    width: 99%;
    color: #73726A;
  }
  .conditions {
    padding-left: .8rem;
    margin-bottom: .2rem;
    line-height: 1.2rem;
  }
  .conditions-title {
    padding-left: .7rem;
    line-height: 1.4rem;
    margin-bottom: 1rem;
  }
}
