.row-container {
  justify-content: space-between;
  flex-wrap: nowrap;
  margin: 0 auto;
  width: 90rem;
}

.filter-wrapper {
  background-color: #EBEBEB;
  padding: 1.5rem;
  height: 40rem;
}

.vacancy-wrapper {
  background-color: #EBEBEB;
  padding: 1.5rem;
  height: 18rem;
  margin-bottom: 1rem;
}

.summary-wrapper {
  background-color: #EBEBEB;
  padding: 1.5rem;
  height: 14rem;
  margin-bottom: 1rem;
}

.vertical-line {
  border-right: 2px solid;
  border-image: linear-gradient(180deg, #EBEBEB 0%, #CFCFCF 26.56%, #CFCFCF 48.96%, #CFCFCF 72.4%, #EBEBEB 100%) 1;
}

.title {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.6rem;
  padding-bottom: .5rem;
}

.salary {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  font-size: 1.3rem;
  line-height: 1.6rem;
}

/*дублирование*/
.description-vacancy {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.7rem;
  width: 95%;
  height: 6rem;
  margin-top: .1rem;
  margin-bottom: .9rem;
  color: #73726A;
}

/*дублирование*/
.description-summary {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.7rem;
  width: 95%;
  overflow: hidden;
  height: 5rem;
  margin-top: .6rem;
  margin-bottom: .6rem;
  color: #73726A;
}

.tags-list {
  padding-inline-start: 0;
  margin-bottom: .7rem;
}

.tags {
  background-color: #DADADA;
  color: #73726A
}

.company {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2rem;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.conditions-title {
  padding-left: .8rem;
  font-family: 'Work Sans', sans-serif;
  font-size: 1.1rem;
  line-height: 1.4rem;
  margin-bottom: 2.5rem;
}

.conditions {
  padding-left: 1rem;
  margin-bottom: .6rem;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-size: .9rem;
  line-height: 1.2rem;
}

ul {
  list-style: none;
  padding-inline-start: 0;
}

.conditions::before {
  content: '';
  display: inline-block;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  margin-right: 0.5rem;
  background: #FBE200;
  box-shadow: inset 0 0 0 2px black;
}
