.body-container {
  height: auto;
  padding-top: 4rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

.vacancy-container {
  padding-inline-start: 0;
  width: 75%;
  list-style-type: none;

  margin: 0;
}

.vacancy-wrapper {
  display: flex;

  margin-bottom: 1rem;
  background-color: #EBEBEB;
  padding: 1.5rem;

  height: 20rem;
}

.filter-container {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: .9rem;

  height: 50rem;

  padding-top: 1.5rem;
  text-align: center;
  width: 20%;
  background-color: #EBEBEB;
}

.vacancy-title {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.6rem;

  padding-bottom: .5rem;
}

.vacancy-money {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.3rem;
  line-height: 1.6rem;
}

.vacancy-text {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.7rem;
  width: 95%;

  overflow: scroll;

  height: 7rem;

  margin-top: .6rem;
  margin-bottom: .6rem;

  color: #73726A;
}

.vacancy-tags {
  margin: 0;

  background: #DADADA;
  border-radius: 1rem;

  padding: .2rem .4rem;

  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: .9rem;
  line-height: 1.2rem;

  max-height: 1.5rem;
  max-width: 4rem;

  color: #73726A;

  align-items: center;
  text-align: center;

  display: inline-block;
  vertical-align: top;
}

.vacancy-profile-wrapper {
  margin: 0;
  padding-top: .5rem;
  max-width: 95%;
  max-height: 5rem;
}

.vacancy-profile {
  margin-right: .6rem;
  vertical-align: middle;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  border: 0;
  overflow: hidden;
  background: mistyrose;
}

.vac-wrap-left {
  width: 70%;
  border-color: #1A1A1A;
  border-width: 0 .01rem 0 0;
  border-style: solid;
}

.vac-wrap-right {
  padding-left: .6rem;
  width: 30%;
}

.conditions-title {
  margin: 0;

  padding-left: .4rem;

  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1rem;
  line-height: 1.4rem;
}

.conditions {
  padding-top: 1.3rem;
  padding-inline-start: 1.6rem;
}

.cond-style {
  margin-bottom: .6rem;

  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: .9rem;
  line-height: 1.2rem;
}
